<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tanzoft.habarihub"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.tanzoft.habarihub.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.tanzoft.habarihub.AboutActivity" />
        <activity android:name="com.tanzoft.habarihub.RadioActivity" />
        <activity android:name="com.tanzoft.habarihub.VideosActivity" />
        <activity android:name="com.tanzoft.habarihub.MagazetiActivity" />
        <activity android:name="com.tanzoft.habarihub.BlogsActivity" />
        <activity android:name="com.tanzoft.habarihub.MediaActivity" />
        <activity android:name="com.tanzoft.habarihub.Developers" />
        <activity android:name="com.tanzoft.habarihub.rss_activities.SplashActivity" />
        <activity android:name="com.tanzoft.habarihub.rss_activities.ListActivity" />
        <activity android:name="com.tanzoft.habarihub.rss_activities.DetailActivity" />
        <activity android:name="com.tanzoft.habarihub.rss_activities.DetailFragment" />
        <activity android:name="com.tanzoft.habarihub.SocialActivity" />
        <activity android:name="com.tanzoft.habarihub.ui.CardsUI" />
        <activity android:name="com.tanzoft.habarihub.ui.MyCard" />
        <activity android:name="com.tanzoft.habarihub.ui.MyImageCard" />
    </application>

</manifest>